[user]
	name = Conrad Beach
	email = conradbeach@hey.com
	signingKey = C66F467384853B844D6F04348FEECB3012B3CBAF
[core]
	excludesfile = /Users/conrad/.gitignore_global
	autocrlf = input
	editor = nvim
	pager = diff-so-fancy | less --tabs=2 -RFX
[credential]
	helper = osxkeychain
[commit]
	gpgSign = true
	template = /Users/conrad/git-commit-template.txt
	cleanup = strip
[rebase]
	autosquash = true
[tag]
	forceSignAnnotated = true
