"""""""""""""""""
" Sets
"""""""""""""""""
" https://github.com/JetBrains/ideavim/blob/master/doc/set-commands.md

" Enable extensions
set vim-surround
set vim-multiple-cursors

let ignorecase " Case insensitive searching.
set smartcase " Case sensitive searching when an uppercase letter is included in the search term.
set scrolloff=10 " Specifies number of lines to keep above and below the cursor.
set relativenumber " Show relative line numbers
set showmode " Show which VIM mode you're in.
set hlsearch " Highlight search results.
set incsearch " Show where search pattern typed so far matches

"""""""""""""""""
" Maps
"""""""""""""""""
" 0 goes to the first non-whitespace character.
map 0 ^

" Make Y behave comparably to C and D.
map Y y$

" Easier quotation switching.
map <Space>' cs"'cs`'
map <Space>" cs'"cs`"
map <Space>` cs'`cs"`
" Remove search highlights.
map <Space>nh :noh<CR>
" Indent the whole file.
map <Space>i migg=G`i
