[user]
	name = Conrad Beach
	email = conradbeach@hey.com
	signingKey = EDF6F14953B37FFD68A15918ED0356C988554E28
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
	editor = nvim
	pager = diff-so-fancy | less --tabs=2 -RFX
[commit]
	gpgSign = true
	template = ~/git-commit-template.txt
	cleanup = strip
[rebase]
	autosquash = true
[tag]
	forceSignAnnotated = true
