[user]
	name = Conrad Beach
	email = conradbeach@hey.com
	signingKey = C66F467384853B844D6F04348FEECB3012B3CBAF
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
	editor = nvim
[push]
	default = simple
[pull]
	rebase = true
[rerere]
	enabled = true
[branch]
	autosetuprebase = always
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[commit]
	verbose = true
	gpgSign = true
	template = ~/git-commit-template.txt
	cleanup = strip
[rebase]
	autosquash = true
[tag]
	forceSignAnnotated = true
