<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>Capybara</key>
			<dict>
				<key>date</key>
				<date>2024-06-13T17:25:54Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>ruby on rails</string>
					</array>
					<key>name</key>
					<string>Capybara</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Capybara</string>
				</dict>
			</dict>
			<key>Emoji</key>
			<dict>
				<key>date</key>
				<date>2024-06-13T17:25:54Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Emoji</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Emoji</string>
				</dict>
			</dict>
			<key>Git</key>
			<dict>
				<key>date</key>
				<date>2024-06-13T17:25:55Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>terminal</string>
						<string>shell</string>
						<string>bash</string>
						<string>zsh</string>
					</array>
					<key>name</key>
					<string>Git</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Git</string>
				</dict>
			</dict>
			<key>HTTP_Status_Codes_Rails</key>
			<dict>
				<key>date</key>
				<date>2024-06-13T17:25:54Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>HTTP Status Codes Ruby on Rails</string>
						<string>HTTP Status Codes for Ruby on Rails</string>
						<string>HTTP Status Codes Rails</string>
						<string>HTTP Status Codes for RoR</string>
					</array>
					<key>name</key>
					<string>HTTP Status Codes for Rails</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>HTTP_Status_Codes_Rails</string>
				</dict>
			</dict>
			<key>PostgreSQL_CLI</key>
			<dict>
				<key>date</key>
				<date>2024-06-13T17:25:54Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>PostgreSQL CLI</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>PostgreSQL_CLI</string>
				</dict>
			</dict>
			<key>RSpec_Expectations</key>
			<dict>
				<key>date</key>
				<date>2024-06-13T17:25:55Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>ruby</string>
					</array>
					<key>name</key>
					<string>RSpec Expectations</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>RSpec_Expectations</string>
				</dict>
			</dict>
			<key>Regular_Expressions</key>
			<dict>
				<key>date</key>
				<date>2024-06-13T17:25:55Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>RegEx</string>
						<string>reg ex</string>
					</array>
					<key>name</key>
					<string>Regular Expressions</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Regular_Expressions</string>
				</dict>
			</dict>
			<key>Yard</key>
			<dict>
				<key>date</key>
				<date>2024-06-13T17:25:54Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>ruby</string>
					</array>
					<key>name</key>
					<string>Yard</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Yard</string>
				</dict>
			</dict>
			<key>iTerm2</key>
			<dict>
				<key>date</key>
				<date>2024-06-13T17:25:55Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>terminal</string>
						<string>shell</string>
						<string>bash</string>
						<string>zsh</string>
					</array>
					<key>name</key>
					<string>iTerm2</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>iTerm2</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict>
			<key>HTTP_Status_Codes</key>
			<dict>
				<key>date</key>
				<date>2019-02-11T18:21:48Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>HTTP Status Codes</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>HTTP_Status_Codes</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>DHCocoaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHDocsetGeneratorRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>RSpec</key>
			<dict>
				<key>date</key>
				<date>2024-06-13T17:25:59Z</date>
				<key>entry</key>
				<dict>
					<key>docsetGeneratorSettings</key>
					<dict>
						<key>allowFilters</key>
						<string>https://devhints.io/rspec</string>
						<key>basicIndexEnabled</key>
						<true/>
						<key>cssToInject</key>
						<string>footer {
    display: none !important;
}</string>
						<key>denyFilters</key>
						<string></string>
						<key>docsetKeyword</key>
						<string>rspec:</string>
						<key>docsetName</key>
						<string>RSpec</string>
						<key>extraInfoPlist</key>
						<string></string>
						<key>isFromLocalFolder</key>
						<false/>
						<key>isFromWebsite</key>
						<true/>
						<key>javaScriptIndexEnabled</key>
						<false/>
						<key>javaScriptUsedToIndex</key>
						<string>const pageTitle = $("title").text();
dashDoc.addEntry({name: pageTitle, type: "Guide"});

$("h1").each(function() {
    const entryName = $(this).text();
    var entryHash = $(this).attr('id');
    if(!entryHash)
    {
        entryHash = entryName.replace(/\W/g, '');
        $(this).attr('id', entryHash);
    }
    dashDoc.addEntry({name: entryName, type: "Section", hash: entryHash});
});</string>
						<key>localFolderPath</key>
						<string></string>
						<key>websiteURL</key>
						<string>https://devhints.io/rspec</string>
					</dict>
					<key>name</key>
					<string>RSpec</string>
					<key>platform</key>
					<string>Other</string>
					<key>uniqueIdentifier</key>
					<string>RSpec</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>ecto</key>
			<dict>
				<key>date</key>
				<date>2024-06-13T17:25:57Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>ecto</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>ecto</string>
				</dict>
			</dict>
			<key>httpoison</key>
			<dict>
				<key>date</key>
				<date>2024-06-13T17:25:58Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>httpoison</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>httpoison</string>
				</dict>
			</dict>
			<key>phoenix</key>
			<dict>
				<key>date</key>
				<date>2024-06-20T02:56:54Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>phoenix</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>phoenix</string>
				</dict>
			</dict>
			<key>poison</key>
			<dict>
				<key>date</key>
				<date>2024-06-13T17:25:56Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>poison</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>poison</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHighlightedWebViewTextSizeMultiplier</key>
	<real>1.2000000476837158</real>
	<key>DHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>activeadmin</key>
			<dict>
				<key>date</key>
				<date>2024-06-13T19:42:10Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>activeadmin</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>activeadmin</string>
				</dict>
			</dict>
			<key>activerecord-import</key>
			<dict>
				<key>date</key>
				<date>2024-06-13T19:42:21Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>activerecord-import</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>activerecord-import</string>
				</dict>
			</dict>
			<key>arel</key>
			<dict>
				<key>date</key>
				<date>2024-06-13T19:42:26Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>arel</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>arel</string>
				</dict>
			</dict>
			<key>capybara</key>
			<dict>
				<key>date</key>
				<date>2024-06-13T19:42:07Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>capybara</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>capybara</string>
				</dict>
			</dict>
			<key>clearance</key>
			<dict>
				<key>date</key>
				<date>2024-06-29T17:42:26Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>clearance</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>clearance</string>
				</dict>
			</dict>
			<key>devise</key>
			<dict>
				<key>date</key>
				<date>2024-06-13T19:42:16Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>devise</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>devise</string>
				</dict>
			</dict>
			<key>factory_bot</key>
			<dict>
				<key>date</key>
				<date>2024-06-13T19:42:10Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>factory_bot</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>factory_bot</string>
				</dict>
			</dict>
			<key>faker</key>
			<dict>
				<key>date</key>
				<date>2024-07-17T14:05:41Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>faker</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>faker</string>
				</dict>
			</dict>
			<key>hotwire-rails</key>
			<dict>
				<key>date</key>
				<date>2024-06-13T17:39:19Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>hotwire-rails</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>hotwire-rails</string>
				</dict>
			</dict>
			<key>jbuilder</key>
			<dict>
				<key>date</key>
				<date>2024-06-13T19:42:00Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>jbuilder</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>jbuilder</string>
				</dict>
			</dict>
			<key>jwt</key>
			<dict>
				<key>date</key>
				<date>2024-06-20T02:56:56Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>jwt</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>jwt</string>
				</dict>
			</dict>
			<key>rspec</key>
			<dict>
				<key>date</key>
				<date>2024-06-13T19:42:03Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>rspec</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>rspec</string>
				</dict>
			</dict>
			<key>rspec_api_documentation</key>
			<dict>
				<key>date</key>
				<date>2024-06-13T19:42:05Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>rspec_api_documentation</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>rspec_api_documentation</string>
				</dict>
			</dict>
			<key>shoulda-matchers</key>
			<dict>
				<key>date</key>
				<date>2024-06-13T19:42:14Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>shoulda-matchers</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>shoulda-matchers</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict>
			<key>aws-sdk-sns</key>
			<dict>
				<key>date</key>
				<date>2021-06-03T14:57:54Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>aws-sdk-sns</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>aws-sdk-sns</string>
				</dict>
			</dict>
			<key>cucumber</key>
			<dict>
				<key>date</key>
				<date>2021-06-03T14:57:50Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>cucumber</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>cucumber</string>
				</dict>
			</dict>
			<key>database_cleaner</key>
			<dict>
				<key>date</key>
				<date>2021-06-03T14:57:48Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>database_cleaner</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>database_cleaner</string>
				</dict>
			</dict>
			<key>factory_bot_rails</key>
			<dict>
				<key>date</key>
				<date>2021-07-28T21:52:36Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>factory_bot_rails</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>factory_bot_rails</string>
				</dict>
			</dict>
			<key>nokogiri</key>
			<dict>
				<key>date</key>
				<date>2021-06-03T14:57:41Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>nokogiri</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>nokogiri</string>
				</dict>
			</dict>
			<key>paperclip</key>
			<dict>
				<key>date</key>
				<date>2021-06-03T14:57:40Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>paperclip</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>paperclip</string>
				</dict>
			</dict>
			<key>twilio-ruby</key>
			<dict>
				<key>date</key>
				<date>2021-06-03T14:57:31Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>twilio-ruby</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>twilio-ruby</string>
				</dict>
			</dict>
			<key>will_paginate</key>
			<dict>
				<key>date</key>
				<date>2021-06-03T14:57:33Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>will_paginate</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>will_paginate</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>DHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>Bulma</key>
			<dict>
				<key>date</key>
				<date>2024-06-13T17:25:55Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Bulma.io</string>
						<string>bulma</string>
						<string>bulma io</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Bulma#readme</string>
					<key>authorLinkText</key>
					<string>Luca Critelli, Guill Lo</string>
					<key>name</key>
					<string>Bulma</string>
					<key>platform</key>
					<string>usercontribBulma</string>
					<key>uniqueIdentifier</key>
					<string>Bulma</string>
				</dict>
			</dict>
			<key>Enzyme</key>
			<dict>
				<key>date</key>
				<date>2024-06-13T17:25:55Z</date>
				<key>entry</key>
				<dict>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Enzyme#readme</string>
					<key>authorLinkText</key>
					<string>Jason Weir</string>
					<key>name</key>
					<string>Enzyme</string>
					<key>platform</key>
					<string>usercontribEnzyme</string>
					<key>uniqueIdentifier</key>
					<string>Enzyme</string>
				</dict>
			</dict>
			<key>Jest</key>
			<dict>
				<key>date</key>
				<date>2024-06-13T17:25:55Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Jest</string>
						<string>React</string>
						<string>Webpack</string>
						<string>jQuery</string>
						<string>CoffeeScript</string>
						<string>Facebook</string>
						<string>JavaScript</string>
						<string>Reactjs</string>
						<string>UI</string>
						<string>Unit Test</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Jest#readme</string>
					<key>authorLinkText</key>
					<string>Xianming Zhong</string>
					<key>name</key>
					<string>Jest</string>
					<key>platform</key>
					<string>usercontribJest</string>
					<key>uniqueIdentifier</key>
					<string>Jest</string>
				</dict>
			</dict>
			<key>RuboCop</key>
			<dict>
				<key>date</key>
				<date>2024-06-13T17:25:55Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Rubocop</string>
						<string>rubocop</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/RuboCop#readme</string>
					<key>authorLinkText</key>
					<string>Étienne Deparis</string>
					<key>name</key>
					<string>RuboCop</string>
					<key>platform</key>
					<string>usercontribRuboCop</string>
					<key>uniqueIdentifier</key>
					<string>RuboCop</string>
				</dict>
			</dict>
			<key>Tailwind_CSS</key>
			<dict>
				<key>date</key>
				<date>2024-06-13T17:25:56Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>tailwind</string>
						<string>TailwindCSS</string>
						<string>tailwind CSS</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Tailwind_CSS#readme</string>
					<key>authorLinkText</key>
					<string>Ben Booth, Guill Lo</string>
					<key>name</key>
					<string>Tailwind CSS</string>
					<key>platform</key>
					<string>usercontribTailwind_CSS</string>
					<key>uniqueIdentifier</key>
					<string>Tailwind_CSS</string>
				</dict>
			</dict>
			<key>Yarn</key>
			<dict>
				<key>date</key>
				<date>2024-06-13T17:25:55Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Yarn#readme</string>
					<key>authorLinkText</key>
					<string>Phill Ayers</string>
					<key>name</key>
					<string>Yarn</string>
					<key>platform</key>
					<string>usercontribYarn</string>
					<key>uniqueIdentifier</key>
					<string>Yarn</string>
				</dict>
			</dict>
			<key>Zsh</key>
			<dict>
				<key>date</key>
				<date>2024-06-13T17:25:55Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Zsh#readme</string>
					<key>authorLinkText</key>
					<string>Zhiming Wang</string>
					<key>name</key>
					<string>Zsh</string>
					<key>platform</key>
					<string>usercontribZsh</string>
					<key>uniqueIdentifier</key>
					<string>Zsh</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHWebViewIsDark</key>
	<false/>
	<key>actuallyDarkWebView</key>
	<true/>
	<key>annotationsAreShown</key>
	<true/>
	<key>bookmarks</key>
	<array>
		<dict>
			<key>path</key>
			<string>file://~/Library/Application%20Support/Dash/DocSets/HTML/HTML.docset/Contents/Resources/Documents/developer.mozilla.org/en-US/docs/Web/HTML/Element/video.html#//apple_ref/Attribute/muted</string>
			<key>platformImagePath</key>
			<string>html</string>
			<key>title</key>
			<string>&lt;video&gt;: The Video Embed element ￼-￼ muted</string>
		</dict>
	</array>
	<key>docsets</key>
	<dict>
		<key>keywords</key>
		<dict>
			<key>~/Library/Application Support/Dash/Cheat Sheets/Capybara/Capybara.docset</key>
			<string>capybaracheat:</string>
			<key>~/Library/Application Support/Dash/Cheat Sheets/HTTP Status Codes for Rails/HTTP_Status_Codes_Rails.docset</key>
			<string>http:</string>
			<key>~/Library/Application Support/Dash/DocSets/CoffeeScript/CoffeeScript.docset</key>
			<string>coffeescript:</string>
			<key>~/Library/Application Support/Dash/DocSets/Erlang/Erlang.docset</key>
			<string>erlang:</string>
			<key>~/Library/Application Support/Dash/DocSets/JavaScript/JavaScript.docset</key>
			<string>js:</string>
			<key>~/Library/Application Support/Dash/DocSets/PostgreSQL/PostgreSQL.docset</key>
			<string>postgres:</string>
			<key>~/Library/Application Support/Dash/DocSets/Ruby/Ruby.docset</key>
			<string>ruby1.9:</string>
			<key>~/Library/Application Support/Dash/DocSets/Ruby_2/Ruby.docset</key>
			<string>ruby2:</string>
			<key>~/Library/Application Support/Dash/DocSets/Ruby_on_Rails_4/Ruby on Rails.docset</key>
			<string>rails4:</string>
			<key>~/Library/Application Support/Dash/DocSets/Ruby_on_Rails_5/Ruby on Rails.docset</key>
			<string>rails5:</string>
			<key>~/Library/Application Support/Dash/DocSets/Ruby_on_Rails_6/Ruby on Rails.docset</key>
			<string>rails</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/ecto/ecto.docset</key>
			<string>ecto:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/httpoison/httpoison.docset</key>
			<string>httpoison</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/phoenix/phoenix.docset</key>
			<string>phoenix:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/poison/poison.docset</key>
			<string>poison</string>
			<key>~/Library/Application Support/Dash/Ruby DocSets/activeadmin/activeadmin.docset</key>
			<string>activeadmin</string>
			<key>~/Library/Application Support/Dash/Ruby DocSets/activerecordimport/activerecord-import.docset</key>
			<string>activerecord-import</string>
			<key>~/Library/Application Support/Dash/Ruby DocSets/arel/arel.docset</key>
			<string>arel:</string>
			<key>~/Library/Application Support/Dash/Ruby DocSets/awssdksns/aws-sdk-sns.docset</key>
			<string>aws-sdk-sns:</string>
			<key>~/Library/Application Support/Dash/Ruby DocSets/capybara/capybara.docset</key>
			<string>capybara:</string>
			<key>~/Library/Application Support/Dash/Ruby DocSets/clearance/clearance.docset</key>
			<string>clearance</string>
			<key>~/Library/Application Support/Dash/Ruby DocSets/cucumber/cucumber.docset</key>
			<string>cucumber:</string>
			<key>~/Library/Application Support/Dash/Ruby DocSets/databasecleaner/database_cleaner.docset</key>
			<string>database_cleaner:</string>
			<key>~/Library/Application Support/Dash/Ruby DocSets/devise/devise.docset</key>
			<string>devise</string>
			<key>~/Library/Application Support/Dash/Ruby DocSets/factorybot/factory_bot.docset</key>
			<string>factory_bot:</string>
			<key>~/Library/Application Support/Dash/Ruby DocSets/faker/faker.docset</key>
			<string>faker:</string>
			<key>~/Library/Application Support/Dash/Ruby DocSets/hotwirerails/hotwire-rails.docset</key>
			<string>hotwire-rails:</string>
			<key>~/Library/Application Support/Dash/Ruby DocSets/jbuilder/jbuilder.docset</key>
			<string>jbuilder</string>
			<key>~/Library/Application Support/Dash/Ruby DocSets/jwt/jwt.docset</key>
			<string>jwt:</string>
			<key>~/Library/Application Support/Dash/Ruby DocSets/nokogiri/nokogiri.docset</key>
			<string>nokogiri</string>
			<key>~/Library/Application Support/Dash/Ruby DocSets/paperclip/paperclip.docset</key>
			<string>paperclip:</string>
			<key>~/Library/Application Support/Dash/Ruby DocSets/rspec/rspec.docset</key>
			<string>rspec:</string>
			<key>~/Library/Application Support/Dash/Ruby DocSets/rspecapidocumentation/rspec_api_documentation.docset</key>
			<string>rspec_api_documentation</string>
			<key>~/Library/Application Support/Dash/Ruby DocSets/shouldamatchers/shoulda-matchers.docset</key>
			<string>shoulda-matchers:</string>
			<key>~/Library/Application Support/Dash/Ruby DocSets/twilioruby/twilio-ruby.docset</key>
			<string>twilio-ruby</string>
			<key>~/Library/Application Support/Dash/Ruby DocSets/willpaginate/will_paginate.docset</key>
			<string>will_paginate:</string>
			<key>~/Library/Application Support/Dash/User Contributed/Tailwind CSS/Tailwind_CSS.docset</key>
			<string>tailwind:</string>
		</dict>
	</dict>
	<key>feeds</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>http://kapeli.com/feeds/Bash.xml</key>
			<dict>
				<key>date</key>
				<date>2024-06-13T17:25:57Z</date>
			</dict>
			<key>http://kapeli.com/feeds/CSS.xml</key>
			<dict>
				<key>date</key>
				<date>2024-06-13T17:26:16Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Elixir.xml</key>
			<dict>
				<key>date</key>
				<date>2024-06-13T17:26:03Z</date>
			</dict>
			<key>http://kapeli.com/feeds/HTML.xml</key>
			<dict>
				<key>date</key>
				<date>2024-06-13T17:26:01Z</date>
			</dict>
			<key>http://kapeli.com/feeds/JavaScript.xml</key>
			<dict>
				<key>date</key>
				<date>2024-06-13T17:26:07Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Lo-Dash.xml</key>
			<dict>
				<key>date</key>
				<date>2024-06-13T17:26:13Z</date>
			</dict>
			<key>http://kapeli.com/feeds/PostgreSQL.xml</key>
			<dict>
				<key>date</key>
				<date>2024-06-13T17:26:12Z</date>
			</dict>
			<key>http://kapeli.com/feeds/React.xml</key>
			<dict>
				<key>date</key>
				<date>2024-06-13T17:26:13Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Ruby_2.xml</key>
			<dict>
				<key>date</key>
				<date>2024-06-13T17:26:11Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Ruby_3.xml</key>
			<dict>
				<key>date</key>
				<date>2024-06-13T17:26:21Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Ruby_on_Rails_7.xml</key>
			<dict>
				<key>date</key>
				<date>2024-06-13T17:26:23Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Rust.xml</key>
			<dict>
				<key>date</key>
				<date>2024-06-13T17:26:19Z</date>
			</dict>
			<key>http://kapeli.com/feeds/jQuery.xml</key>
			<dict>
				<key>date</key>
				<date>2024-06-13T17:26:12Z</date>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict>
			<key>http://kapeli.com/feeds/CoffeeScript.xml</key>
			<dict>
				<key>date</key>
				<date>2021-06-03T14:56:26Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Django.xml</key>
			<dict>
				<key>date</key>
				<date>2021-06-03T14:56:31Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Erlang.xml</key>
			<dict>
				<key>date</key>
				<date>2021-06-03T14:56:37Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Python_3.xml</key>
			<dict>
				<key>date</key>
				<date>2021-06-03T14:56:57Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Ruby.xml</key>
			<dict>
				<key>date</key>
				<date>2021-06-03T14:57:01Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Ruby_on_Rails_4.xml</key>
			<dict>
				<key>date</key>
				<date>2021-05-14T21:39:50Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Ruby_on_Rails_5.xml</key>
			<dict>
				<key>date</key>
				<date>2024-06-11T21:21:03Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Ruby_on_Rails_6.xml</key>
			<dict>
				<key>date</key>
				<date>2024-06-11T21:21:06Z</date>
			</dict>
			<key>http://kapeli.com/feeds/UnderscoreJS.xml</key>
			<dict>
				<key>date</key>
				<date>2021-06-03T14:57:15Z</date>
			</dict>
			<key>http://kapeli.com/feeds/XSLT.xml</key>
			<dict>
				<key>date</key>
				<date>2021-06-03T14:57:17Z</date>
			</dict>
		</dict>
	</dict>
	<key>isPinned</key>
	<true/>
	<key>menuIconBehavior</key>
	<integer>0</integer>
	<key>placeholderDelimiter</key>
	<string>__</string>
	<key>profiles</key>
	<array>
		<dict>
			<key>isDefault</key>
			<true/>
			<key>name</key>
			<string>Default</string>
			<key>searchSnippets</key>
			<true/>
		</dict>
		<dict>
			<key>icon</key>
			<string>Snippet</string>
			<key>name</key>
			<string>Snippets Only</string>
			<key>placeholder</key>
			<string>Search Snippets</string>
			<key>searchSnippets</key>
			<true/>
		</dict>
	</array>
	<key>searchKey</key>
	<dict>
		<key>keyCode</key>
		<integer>-1</integer>
		<key>modifiers</key>
		<integer>8395520</integer>
	</dict>
	<key>shouldRestoreTabs</key>
	<true/>
	<key>shouldShowStatusIcon</key>
	<false/>
	<key>shouldStartAtLogin</key>
	<true/>
	<key>shouldSyncBookmarks</key>
	<true/>
	<key>shouldSyncDocsets</key>
	<true/>
	<key>shouldSyncGeneral</key>
	<true/>
	<key>shouldSyncView</key>
	<true/>
	<key>showInDock</key>
	<true/>
	<key>showSearchFallbacks</key>
	<true/>
	<key>snippetEditorFontSize</key>
	<real>15</real>
	<key>versionedDHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHCocoaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedFeeds</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>webSearches</key>
	<array>
		<dict>
			<key>iconName</key>
			<string>Google</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<true/>
			<key>name</key>
			<string>Google</string>
			<key>url</key>
			<string>https://www.google.com/search?q={query}</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>DuckDuckGo</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<true/>
			<key>name</key>
			<string>DuckDuckGo</string>
			<key>url</key>
			<string>https://duckduckgo.com/?q={query}&amp;ia=web</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>Stack Overflow</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<true/>
			<key>name</key>
			<string>Stack Overflow</string>
			<key>url</key>
			<string>https://stackoverflow.com/search?q={query}</string>
		</dict>
	</array>
	<key>windowStyle</key>
	<string>Standard</string>
</dict>
</plist>
