theme "pencil-light"
// default_layout "compact"
default_mode "locked"
pane_frames false

keybinds {
    locked {
        bind "Ctrl h" { MoveFocus "Left"; }
        bind "Ctrl l" { MoveFocus "Right"; }
        bind "Ctrl j" { MoveFocus "Down"; }
        bind "Ctrl k" { MoveFocus "Up"; }
    }
}
